* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F4FD;
}
/* INICIO DE PARTE NUEVA DE SERVICIOS*/
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asegura que la imagen y el texto se repartan bien */
    padding: 60px 0;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px; /* Agrega un pequeño espacio entre la imagen y el texto */
}
.header-txt {
    flex-basis: 55%;
    /* Ocupa más espacio que la imagen */
    padding-left: 0px;
    /* Añade espacio entre el texto y la imagen */
}
.header-txt span {
    font-size: 17px;
    text-transform: capitalize;
    color: #ff5d5d;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
}
.header-txt h1 {
    font-size: 50px;
    line-height: 1;
    color: #000d83;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 15px;
}
p {
    font-size: 20px;
    color: #2c39aa;
    margin-bottom: 50px;
}
img {
    max-width: 80%;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
.header-content {
    max-width: 1200px;
    margin: 0 auto;
}
.header-img {
    flex-basis: 35%;
    /* Ajusta el tamaño */
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
}
.header-img img {
    max-width: 100%;
    border-radius: 10px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo {
    color: #000d83;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
}
.menu .navbar ul {
    display: flex;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 0 20px;
    color: #000d83;
    display: block;
    font-weight: 600;
    text-decoration: none;
}
.menu .navbar ul li a:hover {
    color: #3ec4ff;
}
#menu {
    display: none;
}
.menu-icono {
    width: 25;
}
.menu label {
    cursor: pointer;
    display: none;
}
.centrame {
    padding: 50px;
    display: flex;
    flex-direction: column; /* Hace que los elementos se apilen verticalmente */
    justify-content: center;
    align-items: center;
}
.centrame .img {
    max-width: 70%;
    height: auto;
    border: 10px solid #000d83;
    border-radius: 5px;
    box-shadow: 0 15px 20px rgba(77, 255, 255, 0.2);
    margin-bottom: 20px; /* Añade espacio entre las imágenes */
}
.centrame h2{
    padding: 10px;
    font-size: 50px;
    line-height: 1;
    color: #000d83;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.pie-pagina{
    width: 100%;
    height: 50%;
    background-color: #0d0541 ;
}
.pie-pagina .grupo-1{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 40px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure{
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px ;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    font-size: 15px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    padding: 10px 10px;
}

.menu .navbar ul li a.activo {
    color: #3ec4ff;
    border-bottom: 3px solid #3ec4ff;
    padding-bottom: 5px;
}

.menu .navbar ul li a {
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
}